# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

#other
/.gitattributes
/.architectury-transformer/

/common/.architectury-transformer/
/common/.gradle/
/common/build/

/neoforge/.gradle/
/neoforge/run/
/neoforge/build/

/fabric/build/
/fabric/.gradle/
/fabric/run/
