# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/AncientWolfHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/AncientWolfHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/AncientWolfHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/AncientWolfMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/AncientWolfMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/AncientWolfMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/AncientWolfMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/AncientWolfMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/AncientWolfMedallionRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/BearHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/BearHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/BearHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/BearMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/BearMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/BearMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/BearMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/BearMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/BearMedallionRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/CatHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/CatHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/CatHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/CatMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/CatMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/CatMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/CatMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/CatMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/CatMedallionRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/GriffinHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/GriffinHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/GriffinHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/GriffinMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/GriffinMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/GriffinMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/GriffinMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/GriffinMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/GriffinMedallionRenderer.class
/src/main/resources/assets/witcher-medallions/icon.psd
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/event/KeyInputHandler.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/ManticoreHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/ManticoreHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/ManticoreHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/ManticoreMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/ManticoreMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/ManticoreMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/ManticoreMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/ManticoreMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/ManticoreMedallionRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/mixin/MixinWitcherMonsterDetector.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/mixin/MixinWitcherMonstersClient.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/mixin/MixinWitcherMonstersWorld.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/ModGroups.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/ModItems.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/event/PlayMedallionSound.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/ViperHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/ViperHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/ViperHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/ViperMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/ViperMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/ViperMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/ViperMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/ViperMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/ViperMedallionRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/WitcherMedallionsConfig.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/WitcherMedallionsConfig.java
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/WitcherMedallionsConfigModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/witcherMod.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/witcherMod_client.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/heads/WolfHeadItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/heads/WolfHeadModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/heads/WolfHeadRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/WolfMedallionItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/WolfMedallionModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/item/off/WolfMedallionOffItem.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/models/off/WolfMedallionOffModel.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/off/WolfMedallionOffRenderer.class
/output/production/witcher.medallions.Witcher_Medallions_Mod.main/witchermedallions/items/gecko/renderer/WolfMedallionRenderer.class
